body {
    font-family: Verdana, sans-serif;
}

.vs-bg-red {
    background-color: #c03;
}

.vs-bg-grey {
    background-color: #dee2e6;
}

.vs-ticket-size {
    width: 900px;
    height: 200px;
}

.vs-display-none {
    display: none;
}